@model Randevu_Sistemi_Kuafor.Models.EmployeeLeave

@{
    ViewData["Title"] = "Create Employee Leave";
}

<div class="container mt-4">
    <h1 class="mb-4">Create Employee Leave</h1>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <!-- EmployeeId'yi gizli alan olarak gönderiyoruz -->
            <input type="hidden" asp-for="EmployeeId" />
        </div>

        <div class="form-group">
            <label asp-for="LeaveStartDate" class="form-label">Leave Start Date</label>
            <input asp-for="LeaveStartDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="LeaveStartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LeaveEndDate" class="form-label">Leave End Date</label>
            <input asp-for="LeaveEndDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="LeaveEndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Reason" class="form-label">Reason</label>
            <input asp-for="Reason" class="form-control" />
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        </div>
    </form>
</div>
