@model Randevu_Sistemi_Kuafor.Models.EmployeeLeave

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EmployeeLeave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- LeaveId (Gizli alan) -->
            <input type="hidden" asp-for="LeaveId" />

            <!-- EmployeeId (Gizli alan) -->
            <input type="hidden" asp-for="EmployeeId" />

            <div class="form-group">
                <label asp-for="LeaveStartDate" class="control-label"></label>
                <input asp-for="LeaveStartDate" class="form-control" />
                <span asp-validation-for="LeaveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveEndDate" class="control-label"></label>
                <input asp-for="LeaveEndDate" class="form-control" />
                <span asp-validation-for="LeaveEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
